{% extends 'base.html' %}

{% block header %}
<h1>{{ name|upper }}</h1>
{% endblock %}

{% block content %}
    <a href="/evaluate/{{ workshop }}/1">
        <img src="/static/images/1.png" width="15%" alt="Didn't like the workshop at all.">
    </a>
    <a href="/evaluate/{{ workshop }}/2">
        <img src="/static/images/2.png" width="15%" alt="Didn't like the workshop very much.">
    </a>
    <a href="/evaluate/{{ workshop }}/3">
        <img src="/static/images/3.png" width="15%" alt="The workshop was not bad.">
    </a>
    <a href="/evaluate/{{ workshop }}/4">
        <img src="/static/images/4.png" width="15%" alt="Quite liked the workshop.">
    </a>
    <a href="/evaluate/{{ workshop }}/5">
        <img src="/static/images/5.png" width="15%" alt="Absolutely loved the workshop.">
    </a>

{% if saved == 'True' %}
<p class="green">Your feedback has been saved.</p>
{% endif %}
{% endblock %}